<div class="section">
  <div class="container is-fluid m-0 p-0">

    <div class="container">
      <div> <%= link_to 'Create New Event', new_event_path, class: 'button is-fullwidth is-info mb-5' %></div>

      <div class="has-text-centered is-size-2">
        Upcoming events
      </div>

      <div class="columns is-multiline is-mobile is-centered">
        <% @events.upcoming.each do |event| %>
          <div class="column is-3">
            <% if event.is_private? %>
              <% event.invites.unconfirmed.each do |invite| %>
                <div> <%= current_user.id%></div>
                <% if invite.attendee_id == current_user.id %>
                  <div> Hey there</div>
                <% end%>
              <% end%>
            <% end %>
            <%= render 'card', event: event %>
          </div>
        <% end %>
      </div>

      <div class="has-text-centered is-size-2">
        Past events
      </div>

      <div class="columns is-multiline is-mobile is-centered">
        <% @events.in_the_past.each do |event| %>
          <div class="column is-3">
            <%= render 'card', event: event %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>