<div class="section">
  <div class="container is-fluid">
    <div class="columns is-centered">
      <div class="column is-half"> 
      <p class="has-text-centered is-size-3 mb-5">Create new Event</p>

        <%= render 'form', event: @event %>

        <%= link_to 'Back', events_path %>

     </div>
    </div>
  </div>
</div>

